<div style="align-content: center;text-align: center;font-size: 460%">
<p > 
	The URL is: 
</p>
<p> 
	<% string = "http://privnote.herokuapp.com" %>
	<% link = link_to message_path(@message), message_path(@message), data: {confirm: "Click OK to see message" }%>
	<%= string %>
	<%=link%>
</p>

</div>
