<h1 style = "text-align: center;font-size: 800%"> Your message was succesfully destroyed. </h1>
<h2 style = "text-align: center;font-size: 300%"> If you didn't open the note, someone opened it before you! </h1>