<h1 style = "text-align: center">Private notes</h1>
<h2 style = "padding-left: 11%"> Enter message here: </h2>
<form>
  <textarea rows="16" cols="100" style = "margin-left: 10%;margin-right: 10%;width: 80%"> </textarea> <br>
  <input type="submit" value="Submit" style = "margin-left: 10%;margin-right: 10%;width: 80%;padding:1%">
</form> 
