<%= form_with scope: :messages, local: true do |form| %>
  <p style = "text-align: center;"> Enter your message here: <br>
    <%= form.text_area :text %>
  </p>
 
  <p style = "text-align: center;">
    <%= form.submit %>
  </p>
<% end %>