<p style = "text-align: center;font-size: 400%">
	<b> Your message is: </b> <br>
	<%= @message.text %> <br><br>
		<b> Your URL is: </b> <br>
		<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
</p>