<h1>Private notes</h1>
<h2> Enter message here </h2>
<form action="/action_page.php">
  <textarea rows="6" cols="50" style = "height:50%">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea> <br>
  <input type="submit" value="Submit">
</form> 
