<p> app/views/messages/index.html.erb </p>
<h1 style = "text-align: center">Private notes</h1>
<h2 style = "padding-left: 20%"> Enter message here: </h2>
<div style = "padding-left: 20%;padding-right:20%">
<form>
  <textarea rows="6" cols="140" style = "height:60%"> </textarea> <br>
  <input type="submit" value="Submit" style = "width:90%">
</form> 
</div>